<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:red;background-color:black;">Hello World</h1>
    <p>WELCOME TO MY FIRST WEB</p>
    <p>click<a href="https://www.amazon.in/s?k=amazon+prime&adgrpid=1322714101714665&hvadid=82669897711050&hvbmt=bb&hvdev=c&hvlocphy=1676&hvnetw=o&hvqmt=b&hvtargid=kwd-82670518517893%3Aloc-90&hydadcr=5621_2377279&msclkid=7456dff5e62313f3e94fb949a0c71849&tag=msndeskstdin-21&ref=pd_sl_f6wf1fn58_b">here</a>to learn more about me</p>
    <img src="https://i.pinimg.com/originals/6d/ab/9a/6dab9abae5bad453cb95104daf92a9a4.jpg"alt="">
    
</body>
</html>